        <div class="card-body">
            <a href="dashboard/edit{{id}}">
                <div class="card-header">
                    <div>Post Title: {{title}}</div>
                    <div>Posted By {{user.username}} on {{format_date createdAt}}</div>
                </div>
            </a>
        </div>