        <div class="card">
            <h3 class="card-header">LOGIN</h3>
            <form class="card-body">
                <div class="form-group">
                    <label class="form-label">Username:</label>
                    <input type="text" class="form-input" id="username-login-input">
                </div>

                <div class="form-group">
                    <label class="form-label">Password:</label>
                    <input type="password" class="form-input" id="password-login-input">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">LOGIN</button>
                </div>
            </form>
        </div>

    <script src=""></script>