        <div class="card">
            <h3 class="card-header">REGISTER</h3>
            <form class="card-body signup-form">
                <div class="form-group">
                    <label class="form-label">Username:</label>
                    <input type="text" class="form-input" id="username-signup-input">
                </div>

                <div class="form-group">
                    <label class="form-label">Password:</label>
                    <input type="password" class="form-input" id="password-signup-input">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">REGISTER</button>
                </div>
            </form>
        </div>

    <script src="/public/js/signup.js"></script>