        <div class="card">
            <h3 class="card-header"></h3>
            <form class="card-body comment-form">
                <div class="form-group">
                    <label class="form-label">Comment</label>
                    <input type="text" id="comment-post" class="form-input">
                    <button type="submit" class="btn btn-primary">Comment on Post</button>
                </div>
            </form>
        </div>

        <script src=""></script>